*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFF0;

}

#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 492px;
    width: 492px;
    background-color:#FFFFF0;
}


/*this is heading*/

#heading{
    display: flex;
    justify-content: center;
    font-size: 3em;
}


/* this is where button are located*/

#buttonArea{
    height: 15%;
    width: 95%;
    background-color: #FFFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap:5px;
}


#clear,#resize,#rgb,#outline{
    flex-grow: 1;
    width: 1em;
    height: 3em;
    border: none;
    background-color: black;
    color: #FFFFF0;
}


/*this is where the drawing will be done*/

#drawArea{
    height: 85%;
    width: 100%;
    background-color: #FFFFF0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center{
    width: 95%;
    height: 95%;
    background-color: #FFFFF0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

/* #FFFFF0 */

/* apply when below 355px width*/
@media (max-width:355px){
    #main{
        height: 300px;
        width: 300px;
    }

    #heading{
        font-size: 1.5em;
    }

    #clear,#resize,#rgb,#outline{
        flex-grow: 1;
        width: 1em;
        height: 2em;
        border: none;
        background-color: black;
        color: #FFFFF0;
    }
}

/* apply when below 492px width  */
@media (max-width:492px){
    #main{
        height: 352px;
        width: 352px;
    }
}

/* apply at more than 800px width */
@media (min-width:800px){
    #main{
        width: 600px;
        height: 600px;
    }
}


/* apply at more than 1000px width */
@media (min-width:1000px){
    #main{
        width: 680px;
        height: 620px;
    }
}